<IfModule mod_rewrite.c>
    RewriteEngine On

    # Webhook endpoint'i için www redirect'i bypass et
    RewriteCond %{REQUEST_URI} !^/webhook/deploy [NC]
    RewriteCond %{HTTP_HOST} !^www\. [NC]
    RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    RewriteCond %{REQUEST_URI} !/public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
